<div class="px-12 sm:hidden relative pt-12 sm:pt-20 pb-40 mx-auto gap-12 grid grid-cols-1 w-full max-w-7xl w-screen">
  <!-- Video 1 -->
  <div class="relative hover:scale-105 duration-1000 animate-tilt transform inline-flex group cursor-pointer" 
    onclick="document.getElementById('videoButton1').click()">      
    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#FF675E] via-[#FF44EC] to-[#44BCFF] 
      rounded-lg blur-md group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
    </div>
    <button 
      id="videoButton1"
      data-modal-target="videoModal1" 
      data-modal-toggle="videoModal1" 
      data-video-id="1048692721"
      class="relative w-full h-72 bg-gray-900 rounded-xl pointer-events-none text-white text-lg font-bold transition-all 
      duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 flex items-center justify-center overflow-hidden">        
      <div class="flex absolute top-6 flex-col"> 
        <img id="videoThumbnail1" class="z-40 sm:w-56 w-64 h-36 top-0 object-cover rounded opacity-90 transition-opacity duration-300 group-hover:opacity-100" 
          src="" alt="Video Thumbnail">
        <div class="pt-5 text-center">
          <h2 class="text-white text-2xl">Product Promo</h2>
          <p class="text-white font-normal">Animation & Videography</p>
        </div>  
      </div>    
    </button>
  </div>    
  <div id="videoModal1" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90">
    <div class="relative w-full h-full">
      <button type="button" class="absolute top-4 right-4 text-white text-3xl" data-modal-hide="videoModal1">&times;</button>
      <div class="w-full h-full flex items-center justify-center">
        <iframe id="videoPlayer1" class="w-full h-full max-w-7xl max-h-screen" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>        
  </div>



  <!-- Video 2 -->
  <div class="relative hover:scale-105 duration-1000 animate-tilt transform inline-flex group cursor-pointer" 
    onclick="document.getElementById('videoButton2').click()">
    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] 
      rounded-lg blur-md group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
    </div>
    <button 
      id="videoButton2"
      data-modal-target="videoModal2" 
      data-modal-toggle="videoModal2" 
      data-video-id="1048707675"
      class="relative w-full h-72 bg-gray-900 rounded-xl pointer-events-none text-white text-lg font-bold transition-all 
      duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 flex items-center justify-center overflow-hidden">
      <div class="flex absolute top-6 flex-col"> 
        <img id="videoThumbnail2" class="z-40 sm:w-56 w-64 h-36 top-0 object-cover rounded opacity-90 transition-opacity duration-300 group-hover:opacity-100" 
          src="" alt="Video Thumbnail">
        <div class="pt-5 text-center">
          <h2 class="text-white text-2xl">Product Promo</h2>
          <p class="text-white font-normal">Animation</p>
        </div>  
      </div>    
    </button>
  </div>
  <div id="videoModal2" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90">
    <div class="relative w-full h-full">
      <button type="button" class="absolute top-4 right-4 text-white text-3xl" data-modal-hide="videoModal2">&times;</button>
      <div class="w-full h-full flex items-center justify-center">
        <iframe id="videoPlayer1" class="w-full h-full max-w-7xl max-h-screen" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>        
  </div>



  <!-- Video 3 -->
  <div class="relative hover:scale-105 duration-1000 animate-tilt transform inline-flex group cursor-pointer" 
    onclick="document.getElementById('videoButton3').click()">
    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] 
      rounded-lg blur-md group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
    </div>
    <button 
      id="videoButton3"
      data-modal-target="videoModal3" 
      data-modal-toggle="videoModal3" 
      data-video-id="397231290"
      class="relative w-full h-72 bg-gray-900 rounded-xl pointer-events-none text-white text-lg font-bold transition-all 
      duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 flex items-center justify-center overflow-hidden">
      <div class="flex absolute top-6 flex-col"> 
        <img id="videoThumbnail3" class="z-40 sm:w-56 w-64 h-36 top-0 object-cover rounded opacity-90 transition-opacity duration-300 group-hover:opacity-100" 
          src="" alt="Video Thumbnail">
        <div class="pt-5 text-center">
          <h2 class="text-white text-2xl">Event Opener</h2>
          <p class="text-white font-normal">Animation</p>
        </div>  
      </div>    
    </button>
  </div>
  <div id="videoModal3" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90">
    <div class="relative w-full h-full">
      <button type="button" class="absolute top-4 right-4 text-white text-3xl" data-modal-hide="videoModal3">&times;</button>
      <div class="w-full h-full flex items-center justify-center">
        <iframe id="videoPlayer1" class="w-full h-full max-w-7xl max-h-screen" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>        
  </div>



  <!-- Video 4 -->
  <div class="relative hover:scale-105 duration-1000 animate-tilt transform inline-flex group cursor-pointer" 
    onclick="document.getElementById('videoButton4').click()">
    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] 
      rounded-lg blur-md group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
    </div>
    <button 
      id="videoButton4"
      data-modal-target="videoModal4" 
      data-modal-toggle="videoModal4" 
      data-video-id="1049789263"
      class="relative w-full h-72 bg-gray-900 rounded-xl pointer-events-none text-white text-lg font-bold transition-all 
      duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 flex items-center justify-center overflow-hidden">
      <div class="flex absolute top-6 flex-col"> 
        <img id="videoThumbnail1" class="z-40 sm:w-56 w-64 h-36 top-0 object-cover rounded opacity-90 transition-opacity duration-300 group-hover:opacity-100" 
          src="" alt="Video Thumbnail">
        <div class="pt-5 text-center">
          <h2 class="text-white text-2xl">Case Study</h2>
          <p class="text-white font-normal">Videography & Editing</p>
        </div>  
      </div>    
    </button>
  </div>
  <div id="videoModal4" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90">
    <div class="relative w-full h-full">
      <button type="button" class="absolute top-4 right-4 text-white text-3xl" data-modal-hide="videoModal4">&times;</button>
      <div class="w-full h-full flex items-center justify-center">
        <iframe id="videoPlayer4" class="w-full h-full max-w-7xl max-h-screen" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>        
  </div>


  <!-- Video 5 -->  
  <div class="relative hover:scale-105 duration-1000 animate-tilt transform inline-flex group cursor-pointer" 
    onclick="document.getElementById('videoButton5').click()">      
    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#FF675E] via-[#FF44EC] to-[#44BCFF] 
      rounded-lg blur-md group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
    </div>
    <button 
      id="videoButton5"
      data-modal-target="videoModal5" 
      data-modal-toggle="videoModal5" 
      data-video-id="1049834710"
      class="relative w-full h-72 bg-gray-900 rounded-xl pointer-events-none text-white text-lg font-bold transition-all 
      duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 flex items-center justify-center overflow-hidden">        
      <div class="flex absolute top-6 flex-col"> 
        <img id="videoThumbnail5" class="z-40 sm:w-56 w-64 h-36 top-0 object-cover rounded opacity-90 transition-opacity duration-300 group-hover:opacity-100" 
          src="" alt="Video Thumbnail">
        <div class="pt-5 text-center">
          <h2 class="text-white text-2xl">Product Ad</h2>
          <p class="text-white font-normal">Animation & Editing</p>
        </div>  
      </div>    
    </button>
  </div>    
  <div id="videoModal5" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90">
    <div class="relative w-full h-full">
      <button type="button" class="absolute top-4 right-4 text-white text-3xl" data-modal-hide="videoModal5">&times;</button>
      <div class="w-full h-full flex items-center justify-center">
        <iframe id="videoPlayer5" class="w-full h-full max-w-7xl max-h-screen" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>        
  </div>



  <!-- Video 6 -->
  <div class="relative hover:scale-105 duration-1000 animate-tilt transform inline-flex group cursor-pointer" 
    onclick="document.getElementById('videoButton6').click()">
    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] 
      rounded-lg blur-md group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
    </div>
    <button 
      id="videoButton6"
      data-modal-target="videoModal6" 
      data-modal-toggle="videoModal6" 
      data-video-id="1049838111"
      class="relative w-full h-72 bg-gray-900 rounded-xl pointer-events-none text-white text-lg font-bold transition-all 
      duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 flex items-center justify-center overflow-hidden">
      <div class="flex absolute top-6 flex-col"> 
        <img id="videoThumbnail6" class="z-40 sm:w-56 w-64 h-36 top-0 object-cover rounded opacity-90 transition-opacity duration-300 group-hover:opacity-100" 
          src="" alt="Video Thumbnail">
        <div class="pt-5 text-center">
          <h2 class="text-white text-2xl">Fundraising Video</h2>
          <p class="text-white font-normal">Editing</p>
        </div>  
      </div>    
    </button>
  </div>
  <div id="videoModal6" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90">
    <div class="relative w-full h-full">
      <button type="button" class="absolute top-4 right-4 text-white text-3xl" data-modal-hide="videoModal6">&times;</button>
      <div class="w-full h-full flex items-center justify-center">
        <iframe id="videoPlayer6" class="w-full h-full max-w-7xl max-h-screen" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>        
  </div>



  <!-- Video 7 -->
  <div class="relative hover:scale-105 duration-1000 animate-tilt transform inline-flex group cursor-pointer" 
    onclick="document.getElementById('videoButton7').click()">
    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] 
      rounded-lg blur-md group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
    </div>
    <button 
      id="videoButton7"
      data-modal-target="videoModal7" 
      data-modal-toggle="videoModal7" 
      data-video-id="1049840173"
      class="relative w-full h-72 bg-gray-900 rounded-xl pointer-events-none text-white text-lg font-bold transition-all 
      duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 flex items-center justify-center overflow-hidden">
      <div class="flex absolute top-6 flex-col"> 
        <img id="videoThumbnail7" class="z-40 sm:w-56 w-64 h-36 top-0 object-cover rounded opacity-90 transition-opacity duration-300 group-hover:opacity-100" 
          src="" alt="Video Thumbnail">
        <div class="pt-5 text-center">
          <h2 class="text-white text-2xl">Kenynote Walkup</h2>
          <p class="text-white font-normal">Animation</p>
        </div>  
      </div>    
    </button>
  </div>
  <div id="videoModal7" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90">
    <div class="relative w-full h-full">
      <button type="button" class="absolute top-4 right-4 text-white text-3xl" data-modal-hide="videoModal7">&times;</button>
      <div class="w-full h-full flex items-center justify-center">
        <iframe id="videoPlayer7" class="w-full h-full max-w-7xl max-h-screen" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>        
  </div>



  <!-- Video 8 -->
  <div class="relative hover:scale-105 duration-1000 animate-tilt transform inline-flex group cursor-pointer" 
    onclick="document.getElementById('videoButton8').click()">
    <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] 
      rounded-lg blur-md group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
    </div>
    <button 
      id="videoButton8"
      data-modal-target="videoModal8" 
      data-modal-toggle="videoModal8" 
      data-video-id="397251616"
      class="relative w-full h-72 bg-gray-900 rounded-xl pointer-events-none text-white text-lg font-bold transition-all 
      duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 flex items-center justify-center overflow-hidden">
      <div class="flex absolute top-6 flex-col"> 
        <img id="videoThumbnail8" class="z-40 sm:w-56 w-64 h-36 top-0 object-cover rounded opacity-90 transition-opacity duration-300 group-hover:opacity-100" 
          src="" alt="Video Thumbnail">
        <div class="pt-5 text-center">
          <h2 class="text-white text-2xl">Speaker Sizzle Reel</h2>
          <p class="text-white font-normal">Animation</p>
        </div>  
      </div>    
    </button>
  </div>
  <div id="videoModal8" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90">
    <div class="relative w-full h-full">
      <button type="button" class="absolute top-4 right-4 text-white text-3xl" data-modal-hide="videoModal8">&times;</button>
      <div class="w-full h-full flex items-center justify-center">
        <iframe id="videoPlayer8" class="w-full h-full max-w-7xl max-h-screen" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>        
  </div>
</div>   